div {
    display: flex;
}

h1 {
    padding: 0.8em 0.8em 0em 0.8em;
    font-size: 70px;
    color: rgb(111, 167, 209);
    margin: 0 0 1em 6em;
}

.gif {
    width: 175px;
    height: 150px;
    margin-top: 40px;
}

.fields {
    display: flex;
    flex-direction: column;
    padding: 1em 6.5em 1em 14em;
}

.field {
    padding: 0.5em 6.5em 0.5em 14em;
}

.label {
    margin-bottom: 15px;
}

.submitLetter {
    margin: 1em 0 1em 14em;
    background-color: rgb(111, 167, 209);
    color: black;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 0.25em;
}

.submitLetter:hover {
    color: aliceblue;
}

.sentLetters {
    margin-left: 14em;
    border: 2px solid black;
    /* background-color: rgb(59, 155, 184); */
    /* background-color: rgb(62, 141, 165); */
    background-color: rgb(111, 167, 209);
    padding-left: 10px;
    width: 50%;
}

.letter {
    padding: 1em;
    border: 1px solid black;
    margin: 1em;
    /* background-color:rgb(226, 198, 198); */
    background-color: aliceblue;
}

.topicButton {
    width: 170px;
    height: 45px;
    font: 8px;
    border-radius: 30px;
    background-color: rgb(111, 167, 209);
    color: aliceblue;
    box-shadow: 0.30rem 0.30rem 0.6rem rgb(61, 57, 57);
    margin: 0.5em;
}

.topics_button {
    display: inline-block;
}

.checkboxes {
    margin: 3.1px;
}